* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Victor Mono', monospace;
}


:root {
  --text: #0c0b03;
  --background: #fefdfb;
  --primary: #c9a74a;
  --secondary: #91c4de;
  --accent: #f4ce43;
}

.bg-gradient {
  background: linear-gradient(90deg, var(--primary), var(--secondary), var(--primary));
  background-size: 200% auto;
  animation: gradientAnimation 8s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}


.grid-background {
  position: relative;
}

.grid-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(#47474731 1px, transparent 2px);
  background-size: 10px 10px;
  pointer-events: none;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-accent {
  color: var(--accent);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-accent {
  background-color: var(--accent);
}


.bg-custom {
  background-image: url('https://images.unsplash.com/photo-1705837863332-7162639852d8?q=80&w=1885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}